<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.category }} - {{ page.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include nav.html %}
    <div class="wrapper">
      <h2 style="margin-bottom:0;">{{ page.category }} - {{ page.title }}</h2>
      <span style="font-size:10px; padding-bottom:10px;">post date: {{ page.date | date: "%Y-%m-%d" }}</span>

      <div class="post-body">
        {{ content }}

        {{ if page.comments }}
        {% include disqus.html %}
        {{ endif }}

      </div>
    </div>
    {% include analytics.html %}
  </body>
</html>
